
.card {
    width: 185px;
    border-radius: 5px;
    height: 289px;
    margin: 1rem;
    margin-bottom: 0px;
  }
  .card-cont::-webkit-scrollbar{
    display: none;
    }
  @media screen and (max-width:1024px) {
    .card{
        width: 150px;
        height: 234px;
        background-size:150px 234px;
    }
    .card .rating {
       margin-left: 60%;
    }
    .card .parts{
        margin-top: 105%;
    }
    .card-title b{
    font-size: 1rem;
    line-height: 1.25rem; 
    }
    .post-read-time, .post-read-count{
      width: 150px;
      font-size: 14px;
    }
    
  }

  .rating {
    font-size: 12px;
    color: #ffcc00;
    margin: 4%;
    margin-left:68%;
    background-color: rgb(17, 109, 149);
    color: white;
    width: 50px;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
  }
  
  .parts {
    font-size: 17px;
    margin-top: 112%;
    margin-left: 15px;
    background-color: #717070;
    color: white;
    padding:2px 9px;
  }
  .card-title{
    margin-left: 17px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
    width:150px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: black; 
  }
  @media screen and (min-width:1024px) {
    .card-title{
    width:185px;
    }

    .post-read-time , .post-read-count{
        width:185px;
    }
  }

  .post-read-time , .post-read-count{
      color: black;
      opacity: 0.6;
      margin: 0;
      margin-left: 1.1rem;
  }
  