.delete-modal{
    width:275px;
    background-color: #ebedef;
    height:92%;
    margin: auto;
    border: 1.5px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}
.loader{
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-border{
   margin-bottom: 100px;
}
.delete-popup{
    width: 100%;
    height: 180px;
    position: fixed;
    top: 130px;
    transition: all 0.3s;
    z-index: 3000;
}
.modal-logo{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: #d0021b;
}
.modal-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
    padding-right: 30px;
}

.other-creation{
    background-color: rgb(241, 236, 236);
    margin-top: 65px;
    padding-top: 15px;
}
.read-now-upper {
    display: flex;
}
.read-next-upper {
    display: flex;
}
.read-now-upper span{
    font-size: 12px;
    color: #737373;
    margin-left: 10px;
}
.read-now-upper-left{
    width: 160px;
    height: 256px;
}
.read-now-upper-left img{
    width: 160px;
    height: 256px;
}
.camera-img{
    color: white;
    position: absolute;
    font-size: 22px;
    top: 48%;
    left: 11%;
} 
.read-next-upper-left{
    width: 90px;
    height: 105px;
}
.other-creation-info{
    display: flex;
    width: 90%;
    margin:0px auto;
}
.other-creation-left{
width: 40%;
padding: 8px;
margin-top: 5px;
}
.other-creation-right{
    width: 60%;
    padding: 8px;
    margin-top: 5px;
    }
@media screen and (max-width: 900px) {
    .other-creation-info{
     flex-direction: column;
    }
    .other-creation-left{
        width: 90%;
        margin:0px auto
        }
        .other-creation-right{
            width: 90%;
            margin: 5px auto;
            }
            .camera-img{
                top: 48%;
                left: 14%;
            } 
  }
  @media screen and (max-width: 610px) {
    .other-creation-info{
     flex-direction: column;
     width: 98%;
    }
    .other-creation-left{
        width: 100%;
        margin:0px auto
        }
        .other-creation-right{
            width: 100%;
            margin: 5px auto;
            }
  }
  .read-now-share span{
    font-size: 14px;
    font-weight: 500;
   }
  @media screen and (max-width: 305px) {
      .read-now-upper-left{
        width: 130px;
        height: 220px;
      }
      .read-now-upper-left img{
        width: 130px;
        height: 220px;
    }
    .camera-img{
        top: 43%;
        left: 12%;
    } 
       .read-now-share{
        text-align: left;
       }
       .read-now-share span{
        font-size: 12px;
       }
  }
.summary{
    width: 90%;
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    bottom: 0;
    margin: 3px 0 5px;
    height: 80px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical !important;
    color: #555;
    word-break: break-word;
    margin-left: 11px;
    margin-top: 8px;
}

.library-btn{
    background: #fff;
    color: #036974;
    border: 1px solid #036974;
    margin-top: 8px;
    width: 49%;
    padding: 10px 0px;
    font-size: 17px;
    font-weight: bold;
}
.category{
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.about-summary{
    width: 94%;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    bottom: 0;
    margin: 3px 0 5px;
    height: 60px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical !important;
    word-break: break-word;
    margin-left: 11px;
    margin-top: 8px;
    margin-bottom: 15px;
}
.category-gene{
    background-color: #e2e5e7;
    color: #474d51;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
}
.category-gene:hover{
    text-decoration: underline;
}
.read-btn{
    background: #d0021b;
    border: 1px solid #d0021b;
    text-decoration: none;
    margin-top: 8px;
    width: 97%;
    padding: 11px 0px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}
.download-btn{
    background: #fff;
    border: 2px solid #d3302f;
    color: #d3302f;
    margin-top: 8px;
    width: 100%;
    padding: 6px 0px;
    font-size: 17px;
    font-weight: bold;
}
.read-next-btn{
    color: #fff;
    border: 2px solid #d3302f;
    background-color: #d3302f;
    margin-top: 8px;
    width: 100%;
    padding: 6px 0px;
    font-size: 17px;
    font-weight: bold;
}
.about-title, .review-title{
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    border-left: 3px solid #d0021b;
    padding-left: 10px;
    margin: 10px 0;
}

.before-rating-star{
    font-size: 35px;
    margin-right: 10px;
    color: #036974;
}
.review-cancel{
    background-color: #f7f4f4;
}
.review-cancel:hover{
    background-color: #e6e5e5;
}

.comment-content{
    width: 95%;
    background-color: rgb(245, 242, 242);
    padding:5px 10px;
    position: relative;
    margin-left: 20px;
    margin-right: 10px;
  }
  .comment-content:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px solid rgb(245, 242, 242);
    border-left: none;
    border-bottom: 15px solid transparent;
  }  

  .commentor-name a{
    text-decoration:none;
  }
  .commentor-name a:hover{
    text-decoration: underline;
  }

  .commentor-name{
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
  }
  .comment-desc{
    color: #595959;
    font-size: 14px;
    width: 97%;
    margin: 20px auto;
    margin-bottom: 10px;
  }
  .like{
    color: #595959;
    font-size: 14px;
    width: 100%;
    padding: 0px 8px;
    border-bottom: 1px solid #d3d3d3;
  }